svg{

    /*-webkit-animation-name:             swing ; 
    -webkit-animation-duration:         10s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-transition-timing-function: linear;
    transform: translateZ(0);*/
    z-index: 5;
}

svg path {
  stroke-dasharray: 1300;
  animation: dash 1s linear ;
  -webkit-animation: dash 1s linear;
}
@keyframes dash {
  from {
    stroke-dashoffset: 1300;
  }
  to {
    stroke-dashoffset: 220;
  }
}
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1300;
  }
  to {
    stroke-dashoffset: 220;
  }

}


a.boxclose{
    float:right;
    margin-top:-20px;
    margin-right:-20px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

.boxclose:before {
    content: "×";

}

.tooltip {
  
      z-index: 99;
      position: absolute;
      width: 300px;
      line-height: 20px;
      padding: 10px;
      font-size: 12px;
      text-align: left;
      color: rgb(113, 157, 171);
      background: rgb(255, 255, 255);
      border: 3.63636350631714px solid rgb(255, 255, 255);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
      display: none;
}
  
.tooltip:after {
   z-index: 99;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: #FFFFFF transparent transparent transparent;
      top: -20px;
      left: 50px;
       -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

article h2{
  text-align: center;
}
.about{
  margin-bottom: 10px;
}