/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* MAtthieu csss*/

*{
                padding:0;
                margin:0;
                

            }

           /* #scene{
                height:200px;
            }*/

            @-webkit-keyframes icebergMove {
                  from {
                    -webkit-transform: rotate(0deg);
                  }
                  to { 
                    -webkit-transform: rotate(10deg);
                  }
                }

                 @-moz-keyframes swing{
                        0%{-moz-transform:rotate(-3deg)}
                        50%{-moz-transform:rotate(3deg)}
                        100%{-moz-transform:rotate(-3deg)}
                    }
                    @-webkit-keyframes swing{
                        0%{-webkit-transform:rotate(-3deg)}
                        50%{-webkit-transform:rotate(3deg)}
                        100%{-webkit-transform:rotate(-3deg)}
                    }

                    @-moz-keyframes wave{
                        0%{-moz-transform:translate(-40px,10px)}
                        50%{-moz-transform:translate(40px,-10px)}
                        100%{-moz-transform:translate(-40px,10px)}
                    }
                    @-webkit-keyframes wave{
                        0%{-webkit-transform:translate(-40px,10px)}
                        50%{-webkit-transform:translate(40px,-10px)}
                        100%{-webkit-transform:translate(-40px,10px)}
                    }

                     @-moz-keyframes wavei{
                        0%{-moz-transform:translate(40px,-10px)}
                        50%{-moz-transform:translate(-40px,10px)}
                        100%{-moz-transform:translate(40px,-10px)}
                    }
                    @-webkit-keyframes wavei{
                        0%{-webkit-transform:translate(40px,-10px)}
                        50%{-webkit-transform:translate(-40px,10px)}
                        100%{-webkit-transform:translate(40px,-10px)}
                    }

                    @-moz-keyframes waveii{
                        0%{-moz-transform:translate(20px,-10px)}
                        50%{-moz-transform:translate(-20px,10px)}
                        100%{-moz-transform:translate(20px,-10px)}
                    }
                    @-webkit-keyframes waveii{
                        0%{-webkit-transform:translate(20px,-10px)}
                        50%{-webkit-transform:translate(-20px,10px)}
                        100%{-webkit-transform:translate(20px,-10px)}
                    }

            body{
                background-color: #c9eaf5;
                overflow-x:hidden;
            }

            #iceberg img{
                width:580px;
                position:relative;
                top:200px;
                left:300px;
                -webkit-animation-name:             swing ; 
                -webkit-animation-duration:         10s; 
                -webkit-animation-iteration-count:  infinite;
                -webkit-transition-timing-function: linear;
            }
            #holder{
               
                -webkit-animation-name:             swing ; 
                -webkit-animation-duration:         10s; 
                -webkit-animation-iteration-count:  infinite;
                -webkit-transition-timing-function: linear;
            }
           /* -moz-animation: 3s ease 0s normal none infinite swing;
                -moz-transform-origin: center top;
                -webkit-animation:swing 3s infinite ease-in-out;
                -webkit-transform-origin:top;
            }*/
           

            #water1 img{
                /*width:130%;*/
                position:relative;
                top:500px;
                left:-140px;
                -webkit-animation-name:             wavei ; 
                -webkit-animation-duration:         5s; 
                -webkit-animation-iteration-count:  infinite;
                -webkit-transition-timing-function: linear;
            }
             #water2 img{
                
                position:relative;
                top:500px;
                left:-140px;
                -webkit-animation-name:             waveii ; 
                -webkit-animation-duration:         7s; 
                -webkit-animation-iteration-count:  infinite;
                -webkit-transition-timing-function: linear;
            }
             #water3 img{

                position:relative;
                top:500px;
                left:-500px;
                -webkit-animation-name:             wave ; 
                -webkit-animation-duration:        5s; 
                -webkit-animation-iteration-count:  infinite;
                -webkit-transition-timing-function: linear;
            }
            
            #grad{
                background: url('layers/gradient.png') bottom left repeat-x;
                
                z-index:100;
                
            }
            
            }













/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}