@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?ux2aez');
	src:url('../fonts/icomoon.eot?#iefixux2aez') format('embedded-opentype'),
		url('../fonts/icomoon.woff?ux2aez') format('woff'),
		url('../fonts/icomoon.ttf?ux2aez') format('truetype'),
		url('../fonts/icomoon.svg?ux2aez#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-i-Code:before {
	content: "\e600";
}

.icon-i-Movie:before {
	content: "\e601";
}

.icon-i-Photo:before {
	content: "\e602";
}

.icon-i-Print:before {
	content: "\e603";
}

#previousProfil{
	
}




.formationDesc{
	width: 30%;
}

.formationMedia{
	width: auto;
}


/**GallerieNavigation**/

.navProfil{
	display: block;
  	position: absolute;
  	top: 33%;

}

.navProfil img{
	width: 50%;
	height: 50%;
	cursor: pointer;
}


#previousProfil{
	left: 0px;
		
}

#nextProfil{
	right: 0px;
	text-align: right;
}



/* Main Nav */

nav {
	height: 50px;
	background-color: black;
	width: 100%;
}

.btn{
	color: white;
	padding: 10px;
}


.mainContent{
	width: 100%;
	position: relative;
	z-index: 100;
}


#profilContent{display: none;}
#formationContent{display: none;}

.content {
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	padding: 15px 50px;
	background-image: url("noisy.png");
	overflow: auto;
	zoom:1;
	position: relative;

}

.col-1 {
	padding: 5px;
	float: left;
	margin-right: 10px;
}

.col-1:last-child{
	margin-right: 0px;

}

.bottomClose{
	clear: both;
	position: absolute;
	z-index: 999;
	float: left;
	width: 100%;
	color: red;

	text-align: center;
	bottom: -10px;

}

.close {
  color: #ffffff;
  background: #3498db;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  border: none;
}



.close:hover {
  background: #3cb0fd;
  text-decoration: none;
}


.profilMov{
	width: 40%;
	min-width: 300px;
}


.profilNavLeft{
	float: left;
	width: 10px;
}

.profilMov img{
	max-width:100%;
	max-height:100%;
}


.profilDesc .age{
	font-size: 0.7em;
	margin-left: 5px;
}


.profilDesc h1{
	margin-top: 0px;
}


.shortDesc p{
	margin-bottom: 15px;
}

.shortDesc p:last-child{
	margin-bottom: 0px;
}

.profilDesc{
	width: 25%;
	min-width: 250px;
}

/**profilPicture**/

.profilPicture{
	width: 20%;
	min-width: 100px;
}

.profilPicture img{
	max-width:100%;
	max-height:100%;
}


/**SKILLS**/
.profilSkills{
	width: 10%;
	min-width: 150px;
	height: auto;
	position: relative;
	clear: both;
	margin-top: 5%;

}

.skills{
	overflow: hidden;

}

.skillSet{
	padding-top: 15px;

}
.skill{
	float: left;
	height: 10px;
	background-color: #0e3852;
	margin-left: 5px;

	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}


.skillsName{
	float: left;
	font-size: 2.5em;
	color: #0e3852;
}

dl {
 width:100%;
 overflow:hidden;
}
dt {
 float:left;
 width:30%; /* adjust the width; make sure the total of both is 100% */
}
dd {
 float:left;
 width:70%; /* adjust the width; make sure the total of both is 100% */
}





.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.js-video.widescreen {
  padding-bottom: 56.34%;
}
 
.js-video.vimeo {
  padding-top: 0;
}



.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}







button#load{
	z-index: 1000;
    padding: 0 3em;
    outline: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 4;
    overflow: hidden;
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
    text-align: center;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}


#loader-img{
margin: 0 auto;
display: block;
}
 
