.icon-i-Code:before {
	content: "\e600";
}

.icon-i-Movie:before {
	content: "\e601";
}

.icon-i-Photo:before {
	content: "\e602";
}

.icon-i-Print:before {
	content: "\e603";
}


.profilDesc h1 h2 p{
    font-family: 'edmondsans_regularregular';
    color: #0e3852;
    font-size: 3em;
}


/* Main Nav */

nav {
	height: 50px;
	background-color: black;
	width: 100%;
}

.btn{
	color: white;
	padding: 10px;
}


#profilContent{
	width: 100%;
	position: absolute;
	z-index: 100;

	
}

.content {
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	padding: 15px;
	background-image: url("noisy.png");
	overflow: auto;
	zoom:1;
}

.col-1 {
	padding: 5px;
	float: left;
	margin-right: 10px;
}

.col-1:last-child{
	margin-right: 0px;

}

.bottomClose{
	clear: both;
	position: relative;
	z-index: 999;
	float: left;
	width: 100%;
	color: red;

	text-align: center;
	margin-bottom: -10px;

}

.close {
  color: #ffffff;
  background: #3498db;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  border: none;
}



.close:hover {
  background: #3cb0fd;
  text-decoration: none;
}


#profilMov{
	width: 20%;
}


.profilNavLeft{
	float: left;
	width: 10px;
}

#profilMov img{
	max-width:100%;
	max-height:100%;
}


#profilDesc .age{
	font-size: 0.7em;
	margin-left: 5px;
}


#profilDesc h1{
	margin-top: 0px;
}


.shortDesc p{
	margin-bottom: 15px;
}

.shortDesc p:last-child{
	margin-bottom: 0px;
}

#profilDesc{
	width: 25%;
}

/**profilPicture**/

#profilPicture{
	width: 20%;
}

#profilPicture img{
	max-width:100%;
	max-height:100%;
}


/**SKILLS**/
#profilSkills{
	width: 10%;
	height: auto;
	position: relative;
	clear: both;

}

.skills{
	overflow: hidden;
}

.skillSet{
	padding-top: 10px;

}
.skill{
	float: left;
	height: 5px;
	background-color: #0e3852;
	margin-left: 5px;

	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}


.skillsName{
	float: left;
	font-size: 2.5em;
	color: #0e3852;
}

dl {
 width:100%;
 overflow:hidden;
}
dt {
 float:left;
 width:30%; /* adjust the width; make sure the total of both is 100% */
}
dd {
 float:left;
 width:70%; /* adjust the width; make sure the total of both is 100% */
