/* Main Nav */

nav {
	height: 50px;
	background-color: black;
	width: 100%;
}

.btn {
	color: white;
	padding: 10px;
}


#profilContent{
	width: 100%;
	position: absolute;
	z-index: 100;
}

.content {
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 960px;
}

.col-1 {
	width: 30%;
	padding: 5px;
	float: left;
	margin-right: 10px;
}

.col-1:last-child{
	margin-right: 0px;

}

.bottomClose{
	clear: both;
	position: relative;
	z-index: 999;
	float: left;
	width: 100%;
	color: red;

	text-align: center;
	margin-bottom: -10px;

}

.close {
  color: #ffffff;
  background: #3498db;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  border: none;
}



.close:hover {
  background: #3cb0fd;
  text-decoration: none;
}


/** IMAGE RONDE**/
.circular {
	text-align: center;
	border: solid 2px;
	width: 100px;
	height: 100px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(http://colouringbook.org/Holidays/Xmas/KITTY/kitty_icon_christmas_xmas_stuffed_animal_coloring_book_colouring-100px.png) no-repeat;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
	}